<%= form_with(model: bookcase) do |form| %>
  <% if bookcase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bookcase.errors.count, "error") %> prohibited this bookcase from being saved:</h2>

      <ul>
        <% bookcase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :limit, style: "display: block" %>
    <%= form.number_field :limit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
